.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  border-right: 1px solid #7c2929;
  max-width: 13rem;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 30% 2rem;
  height: 100%;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.15;
  width: 80%;
  margin-bottom: 4rem;
}

.logo a {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards 0.1s;
  animation-delay: 0.2s; /* Adjust delay for the first link */
}

.navigation {
  z-index: 1;
  margin: auto 0;
}

/* Social Links Container */
.social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.86rem;
  padding: 30% 0;
  border-top: 1px solid #7c2929;
}

.social a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 0.86rem;
  text-align: center;
  border: 1px solid;
  border-color: rgb(var(--foreground-rgb));
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

/* Animation Delays for Each Link */
.social a:nth-child(1) {
  animation-delay: 0.2s; /* Adjust delay for the first link */
}

.social a:nth-child(2) {
  animation-delay: 0.4s; /* Adjust delay for the second link */
}

.social a:nth-child(2) {
  animation-delay: 0.6s; /* Adjust delay for the second link */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
