.navigation {
  z-index: 1;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 1rem 0;
}

.navigation a {
  text-decoration: none;
  font-size: 0.86rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navigation .active {
  color: #EF6E4E;
  font-weight: 700;
}