.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem 0 6rem;
  /* padding: 6rem; */
  margin-left: -15%;
  min-height: 100vh;
  line-height: 1.15;
}

.section {
  display: inherit;
  justify-content: inherit;
  align-items: flex-start;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.section > div {
  position: relative;
}

.activities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 31%;
  background-color: rgba(124, 41, 41, 0.2);
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s forwards;
}

.card h6,
.card p {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.card h6 {
  margin-bottom: 1rem;
  font-weight: 700;
  color: #ef6e4e;
}

.card p:not(:last-child) {
  margin-bottom: 1rem !important;
}

/* Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 1199px) {
  .main {
    padding: 5rem;
    margin-left: -10%;
  }

  .card {
    width: 48%;
  }
}

@media (max-width: 991px) {
  .main {
    padding: 4rem;
    margin-left: -5%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    padding: 2rem 2rem 3rem;
    min-height: calc(100vh - 96px);
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
