.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 6rem 0 6rem;
  /* padding: 6rem; */
  margin-left: -15%;
  min-height: 100vh;
  line-height: 1.15;
}

/* Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 1199px) {
  .main {
    padding: 5rem;
    margin-left: -10%;
  }
}

@media (max-width: 991px) {
  .main {
    padding: 4rem;
    margin-left: -5%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    padding: 2rem 2rem 3rem;
    min-height: calc(100vh - 96px);
    margin-left: 0;
  }
}
