.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;    
  margin-left: -15%;
  min-height: 100vh;
}

.img {
  position: absolute;
  opacity: 40%;
  top: -10%;
  left: 5%;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description h1 {
  position: relative;
  margin: 0;
  margin-top: 4rem;
  width: 85%;
}

.description span {
  font-weight: 700;
  color: #EF6E4E;
}

.main p {
  margin-left: 42%;
  margin-right: 1rem;
  z-index: 3;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

.btn {
  color: #fff;
  background-color: #ef6e4e;
  text-transform: uppercase;
  font-size: 0.86rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 1rem;
  max-width: fit-content;
  white-space: nowrap;
   text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}





@media (min-width: 1200px) and (max-width: 1399px) {


  .main p {
    margin-left: 30%;
  }
}


/* Larger Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    padding: 5rem;
    margin-left: -10%;
  }

  .description h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  .main p {
    margin-left: 0;
  }
}






/* Tablet and Smaller Desktop */
@media (max-width: 991px) {
  .main {
    padding: 4rem;
    margin-left: -5%;
  }

  .description h1 {
    font-size: 2rem;
    width: 100%;
  }

  .main p {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 2rem;
  }

  .img {
display: none;
  }
}

/* Mobile */
@media (max-width: 768px) {

  .main {
    padding: 5rem 2rem 3rem;
    min-height: calc(100vh - 90px);
    margin-left: 0;
  }

  .description h1 {
    font-size: 1.5rem;
    width: 100%;
  }
}











@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
