.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  border: none;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.86rem;
  padding: 1rem;
  white-space: nowrap;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;

}

.primary {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: #ef6e4e;
  opacity: 0;
    max-width: fit-content;
  transform: translateY(20px);
    &:global {
      animation: fadeInUp 0.6s forwards 0.7s;
    }
}

.disabled {
  background-color: #d6d6d6;
  color: #7a7a7a;
  cursor: not-allowed;
}