.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 6rem 0 6rem;
  margin-left: -15%;
  min-height: 100vh;
  line-height: 1.15;
}

.partners {
  display: flex;
  padding-bottom: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 30rem;
}

.intro p {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
}

.intro p:nth-child(1) {
  animation-delay: 0.2s;
}

.intro p:nth-child(2) {
  animation-delay: 0.4s;
}

.intro p:nth-child(3) {
  animation-delay: 0.6s;
}

.intro p:nth-child(4) {
  animation-delay: 0.8s;
}


.intro p:not(:last-child) {
  padding-bottom: 1rem;
}

.become {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.become p {
  padding-bottom: 0 !important;
  margin-bottom: 0;
  margin-right: 1rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
  animation-delay: 1s;
}

.logos {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding: 0 2rem;
  height: 100%;
}

/* Style for each logo container */
.logoContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 1rem;
}

/* Animation applied to each logo */
.logo {
  /* position: absolute; */
  object-fit: contain;
  opacity: 0;
  animation: fadeInUp 0.6s forwards;
}

/* Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 1199px) {
  .main {
    padding: 5rem;
    margin-left: -10%;
  }

  .logos {
    margin-top: 5rem;
    padding: 0;
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  .main {
    padding: 4rem;
    margin-left: -5%;
  }

  .become {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
  }

  .become p {
    margin-bottom: 1rem !important;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    padding: 2rem 2rem 3rem;
    min-height: calc(100vh - 96px);
    margin-left: 0;
  }
}
